@media (prefers-color-scheme: light) {
    :root {
        --background: #212121;
        --forground: #fff;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #fff;
        --forground: #212121;
    }
}